<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Film</title>

    <!-- style -->
    <link rel="stylesheet" href="/styles/style.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="assets/fonts/style.css">
</head>
<body>

    <section id="menu">
        <div class="container-1">
            <div class="text">
                <p class="title">PlayFilm</p>
                <p class="subtitle">Qual o seu filme favorito?</p>
            </div>
            <div class="buttons">
                <form action="">
                    <label class="sr-only" for="film-name">Nome do filme</label>
                    <input name="filmName" type="text" id="film-name" placeholder="Digite o nome do filme" >
                    <a href="#">Adicionar</a>                    
                </form>
            </div>
        </div>
    </section>

    <section id="filmes">
        <div class="container-2">
            <div class="images">
                <!-- onde entraria as partes -->
                <img id="primeira" src="https://br.web.img3.acsta.net/pictures/19/02/07/14/16/5034340.jpg" alt="cartaz filme us">
                <img src="https://br.web.img2.acsta.net/medias/nmedia/18/90/07/53/20391069.jpg" alt="cartaz filme django">
                <img src="https://jovemnerd.com.br/wp-content/uploads/2021/11/Homem-Aranha-01-1-760x1126.png" alt="cartaz filme homem aranha">
            </div>
        </div>
    </section>

    <footer>
        <div class="cont">
            <i class="icon-linkedin"></i>
            <p>Caio Fiorotti</p>
        </div>
    </footer>

    <script href="main.js"></script>
    
</body>
</html>